@use "../base" as *;
@use "../helpers" as *;

.title {
  font-size: var(--font-size-title-xl);
  line-height: 56px;
  color: var(--black);
  font-weight: 400;

  &--white {
    color: var(--white);
  }

  &--bold {
    font-weight: 800;
  }

  &--outlined {
    font-weight: 800;
    color: var(--white);
    text-shadow: 2px 2px 0 black,
    -2px 2px 0 black,
    2px -2px 0 black,
    -2px -2px 0 black,
    2px 0 0 black,
    -2px 0 0 black,
    0 2px 0 black,
    0 -2px 0 black;

  }

  @include mobile {
    font-size: var(--font-size-title-l);
  }

  @media (max-width: 519px) {
    font-size: var(--font-size-title-s);
  }
}