@use '../base' as *;
@use '../helpers' as *;

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    padding-top: 32px;
    margin-bottom: 84px;
    

    @media (max-width: 914px) {
      column-gap: 20px;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__logo {
    color: var(--black);
  }

  &__menu {
    @include mobile {
      position: absolute;
      top:0;
      right: 0;
      width: 60%;
      max-width: 260px;
      height: 100%;
      background-color: var(--white);
      padding: 60px 30px;
      z-index: 10;
      transform: translateX(100%);
      transition: transform var(--transition-duration);
      
      &.isOpen {
        transform: none;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 32px;


    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }
  }

  &__link {
    position: relative;

    font-family: 'Sora-Semi';
    font-size: 20px;
    color: var(--black);
    transition-duration: var(transition-duration);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: var(--neutral);
      transition-duration: .5s;
    }


    &:hover {
      color: var(--neutral);
      cursor: pointer;

      &::before {
        width: 100%;
      }
    }

    @include mobile {
      font-size: 40px;
    }

    @media (max-width: 914px) {
      font-size: 16px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__line {
    position: absolute;
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--black);
    top: calc(50% - 1.5px);

    &:first-child {
      top: 9px;
    }

    &:last-child {
      top: auto;
      bottom: 9px;
    }
  }
}
