@use '../base' as *;
@use '../helpers' as *;


.hero {
  &__wrapper {
    display: flex;
    margin-bottom: 180px;

    @media (max-width: 1652px) {
      flex-direction: column-reverse;
    }

    @include tablet {
      margin-bottom: 140px;
    }

    @include mobile {
      margin-bottom: 100px;
    }

  }

  &__content {
    padding-top: 130px;
    position: relative;

    @media (max-width: 1652px) {
      padding-top: 90px;
    }

    @include mobile {
      padding-top: 48px;
    }
    
    @media (max-width: 525px) {
      padding-top: 0;
    }
  }
  
  &__title-line {
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;

    @include mobile {
      gap: 15px;
    } 

    @media (max-width: 519px) {
      gap: 0;
    }
    
  }

  &__name, &__location {
    font-size: var(--font-size-title-xl);
    color: var(--black);
    line-height: 56px;

    @include mobile {
      font-size: var(--font-size-title-l);
    }

    @media (max-width: 519px) {
      font-size: var(--font-size-title-s);
    }
  }

  &__description {
    max-width: 600px;
    text-align: start;
    margin-bottom: 94px;

    @include mobile {
      margin-bottom: 50px;       
    }

    @media (max-width: 519px) {
      margin-bottom: 36px; 
    }
  }

  &__socials {
    color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  &__banner {
    position: absolute;
    top:215px;
    right: 345px;
    width: 800px;
    height: 600px;


    &::before {
      content: "";
      display: block;
      width: 800px;
      height: 600px;
      background-image: url(../../images/hero/man.png);
      background-size: contain;
      background-repeat: no-repeat;

        @media (max-width: 1652px) {
          margin-inline: auto;
          max-width: 800px;
          max-height: 450px;
        }

        @media (max-width: 741px) {
          width: 450px;
          height: 330px;
        }
        @media (max-width: 741px) {
          width: 330px;
          height: 330px;
        }
    }

    @media (max-width: 1652px) {
      position: static;
      width: 100%;
      height: auto;
    }

    @media (max-width: 741px) {
          height: 332px;
        }
  }

  
}